/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*-----------------------------------*\
    # CSS Reset
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.btn-white {
    color: #000;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    outline: none;
    cursor: pointer!important;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.btn-white:hover {
    opacity: 0.8;
}

.btn-outline-white {
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.btn-outline-white:hover {
    opacity: 0.8;
}

/*-----------------------------------*\
    # Header
\*-----------------------------------*/

.header {
    color: #fff;
    background-color: #000;
}

.close-sidebar {
    border: none;
    outline: none;
    background-color: transparent;
}

.close-sidebar i {
    font-size: 1.8rem;
}

/*-----------------------------------*\
    # Modal
\*-----------------------------------*/

.modal-body .row {
    height: 150px;
    width: auto;
}

.modal-member,
.modal-trainer {
    height: 100%;
    width: 100%;
    text-decoration: none;
    position: relative;
}

.modal-member img,
.modal-trainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.modal-member h4,
.modal-trainer h4 {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
}

.modal-member-title,
.modal-trainer-title {
    display: none;
    position: absolute;
    top: 38%;
    left: 24%;
}

.modal-member:hover,
.modal-trainer:hover {
    opacity: 0.8;
}

.modal-member:hover .modal-member-title,
.modal-trainer:hover .modal-trainer-title {
    display: block;
}

.modal-footer a {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}

/*-----------------------------------*\
    # Banner
\*-----------------------------------*/

.banner {
    height: 708px; 
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: -10;
}

.banner video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.banner-body {
    position: absolute;
    top: 32%;
    left: 10%;
}

.banner-body h1 {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 4px;
}

.banner-body p {
    font-size: 1.5rem;
    font-weight: 500;
}   

.border-bottom {
    border-bottom: 1px solid gray;
}

/*-----------------------------------*\
    # Footer
\*-----------------------------------*/

.footer {
    border-top: 1px solid gray;
}

/*-----------------------------------*\
    # Media Query
\*-----------------------------------*/

@media screen and (max-width: 1000px) {
    .banner {
        height: 520px;
    }
    
    .banner-body h1 {
        font-size: 3rem;
        letter-spacing: 2px;
    }
    
    .banner-body p {
        font-size: 1rem;
    }   
}

@media screen and (max-width: 800px) {
    .banner {
        height: 420px;
    }
    
    .banner-body h1 {
        font-size: 2rem;
    }
    
    .banner-body p {
        font-size: 0.8rem;
    }   

    .swiper-wrapper {
        flex-direction: column;
    }
}

