/*-----------------------------------*\
    # Google Fonts
\*-----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*-----------------------------------*\
    # Custom Variables
\*-----------------------------------*/

:root {
    /* Violet Primary Color */
    /* --primary-color-hue: 252; */
    
    /* Yellow Primary Color */
    /* --primary-color-hue: 52; */

    /* Red Primary Color */
    /* --primary-color-hue: 352; */
    
    /* Green Primary Color */
    --primary-color-hue: 152;
    
    /* Info Primary Color */
    /* --primary-color-hue: 202; */

    /* Dark Blue Bg with Violet Primary */
    --light-color-lightness: 15%;
    --dark-color-lightness: 95%;
    --white-color-lightness: 20%;

    /* Light Bg with Violet primary */
    /* --light-color-lightness: 95%; */
    /* --dark-color-lightness: 17%; */
    /* --white-color-lightness: 100%; */


    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(var(--primary-color-hue), 15%, 65%);
    /* --color-gray: hsl(252, 15%, 65%); */
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

.header {
    background: var(--color-light);
}

.btn-primary,
.btn-outline-primary {
    display: inline-block;
    padding: 9px 18px;
    font-weight: 500;
    border-radius: 7px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1rem;
    outline: none;
    text-decoration: none;
    border: none;
}

.btn-primary:hover,
.btn-outline-primary:hover {
    opacity: 0.8;
}

.btn-primary {
    color: #fff;
    /* color: #003d0e; */
    background: var(--color-primary);
}

.btn-outline-primary {
    color: var(--color-light);
    background: #fff;
}

/* Nav Link Start */
.nav-link {
    color: var(--color-dark);
}

.nav-link:hover {
    color: var(--color-dark);
    background-color: var(--color-black);
}
/* Nav Link End */

/* Dropdown start */
#navbarDropdown:focus {
    color: var(--color-dark)!important;
}

.dropdown-menu {
    background-color: var(--color-light);
}
.dropdown-item h6,
.dropdown-item i,
.dropdown-item p {
    color: var(--color-dark);
}

.dropdown-item:hover {
    background: var(--color-black);
}

.dropdown-menu hr {
    color: var(--color-dark)!important;
}

/* Dropdown End */

/* Hammburger Menu Start */
.navbar-toggler {
    border-color: var(--color-dark);
}

.navbar-toggler i {
    color: var(--color-dark);
}
/* Hammburger Menu End */

/* SideBar Start */
.offcanvas {
    background-color: var(--color-light);
}

.navbar-brand h3 {
    color: var(--color-dark);
}

.close-sidebar {
    border: none;
    outline: none;
    background-color: transparent;
}

.close-sidebar i {
    font-size: 1.8rem;
    color: var(--color-dark);
}

/* Profile Dropdown */
.profile-dropdown .dropdown-toggle::after {
    color: var(--color-dark)!important;
}

.profile-dropdown img {
    border: 2px solid var(--color-dark);
}

.dropdown-menu {
    border: 1px solid var(--color-dark);
}

.dropdown-menu li a {
    color: var(--color-dark);
}

.dropdown-menu li hr {
    background-color: var(--color-dark);
}

.dropdown-item:hover {
    color: var(--color-dark);
    background: var(--color-black);
}

.sidebar-profile img {
    border: 2px solid var(--color-dark);
}

.sidebar-profile h3 {
    color: var(--color-dark);
}

.sidebar-profile hr {
    color: var(--color-dark)!important;
}