/* .profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.feeds img {
    display: block;
    width: 100%;
}

.feeds .feed {
    background: hsl(252, 30%, 100%);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.feed .head {
    display: flex;
    justify-content: space-between;
}

.feed .user {
    display: flex;
    gap: 1rem;
}

.feed .photo {
    border-radius: 1rem;
    overflow: hidden;
    margin: 0.7rem 0;
}

.feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.feeds .liked-by {
    display: flex;
}

.feeds .liked-by span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid hsl(252, 30%, 100%);
    margin-left: -0.6rem;
}

.feeds .liked-by span:first-child {
    margin: 0;
}

.feeds .liked-by p {
    margin-left: 0.5rem;
} */

/* Posts */

.posts .post {
    padding: 1rem;
    /* margin: 1rem 0; */
}

.post .post-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post .post-head .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.post .post-head .user-info .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.post .post-body {
    height: 550px;
    /* max-height: 550px; */
}

.post .post-body img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Video */
.post .post-body video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.post .post-body {
    border-radius: 1rem;
    overflow: hidden;
    margin: 0.7rem 0;
}

.post .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

/* Comment Section */

.comment-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-head .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.comment-head .user-info .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.comment-body {
    border-top: 1px solid gray;
}

.comment-body .comment-body-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-body .comment-user-info {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.comment-body .comment-user-info .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#comment-card {
    max-height: 749px;
    overflow-y: auto;
}