@import url(./global.css);

body {
    background-color: #dcdcdc;
}

/* UPPER SECTION*/

#upper-container {
    max-width: 1140px;
    padding-top: 20px;
}

.profile {
    border: grey;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    /* border:2px grey solid; */
}

.image img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.image span {
    position: absolute;
    background-color: #2afa6a;
    /* background: grey; */
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 48px;
    right: 48px;
    border: 2px solid #fff;
}
.name-container {
    /* border:grey solid 2px; */
    align-self: center;
}

.name-container h3 {
    text-wrap: wrap;
}

.name-container span {
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
}

.inner-profile {
    display: flex;
    justify-content: space-between;
}

.follow-details {
    display: flex;
    align-self: center;
    gap: 5px;
    justify-content: space-evenly;
    width: 300px;
    flex-wrap: wrap;
}

.follow-details span {
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
}

/*LOWER SECTION*/

#lower-container {
    max-width: 1140px;
    padding-top: 10px;
}

/* NAVIGATION */

.profile-nav {
    border: grey;
    background-color: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
    height: 60px;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.profile-nav-items {
    width: 200px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    position: relative;
}

.profile-nav-items p {
    cursor: pointer;
}

.nav-item-links {
    color: var(--web-dark);
    padding: 17px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 6px;
    z-index: 1;
    position: relative;
}

.nav-item-links:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--web-dark);
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
}

.nav-item-links:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}

.nav-item-links:not(.is-active):hover {
    color: var(--web-dark);
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: 0.8s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}


.buttons-for-user {
    width: 200px;
    display: flex;
    align-self: center;
    gap: 20px;
    display: none;
    pointer-events: none;
}

.buttons-for-self {
    width: 200px;
    display: flex;
    align-self: center;
    justify-content: end;
    /* display:none; */
}

.buttons-for-user button,
.buttons-for-self button {
    width: 100px;
    /* background-color: #2c1923; */
    background-color: royalblue;
    border: none;
    transition: 0.8s;
}

/* SECTION */

/*ABOUT SECTION*/

#about-section {
    display: block;
    pointer-events: all;
    padding-top: 2vw;
}

.content {
    border: grey;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
    min-height: 400px;

}

.content li {
    list-style: none;
    margin-bottom: 10px;
}

/*POST SECTION*/ 

#post-section {
    display: none;
    pointer-events: none;
}


.grid {
    display: grid;
    grid-column: 5;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 5px;
    row-gap: 5px;
}

.grid-photo {
    display: block;
    width: 100%;
    height: calc(100vh /5);
    background: center / cover no-repeat;
}

.post {
    padding: 8px;
}

/*EDIT SECTION*/
.edit {
    /* background-color: #1e293b; */
    /* background-color: #28282b; */
    /* background-color: #353935; */
    background-color: #343434;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    pointer-events: none;
}

.card-body {
    color: whitesmoke;
}


.togglePassword {
    position: absolute;
    right: 20px;
    top: 36px;
    cursor: pointer;
}

/*RESPONSIVE*/

@media (max-width:725px) {
    .profile {
        justify-content: center;
        height: 270px;
        padding-bottom: 20px;
        padding-right: 10px;
    }

    .inner-profile {
        justify-content: space-around;
        width: 100vw;
    }

}

@media (max-width:900px) {
    .name-container {
        max-width: 201px;
    }
}

@media (max-width:360px) {
    #upper-container {
        padding: 5px;
    }

    #lower-container {
        padding: 5px;
    }

    .inner-profile {
        flex-wrap: wrap;
    }

    .profile {
        height: 350px;
    }

}

@media (max-width:490px) {
    .profile-nav {
        flex-direction: row !important;
        justify-content: center !important;
        height: 120px !important;
    }

    .nav-indicator {
        bottom: -5px !important;
    }

    .buttons-for-user {
        width: 100vw !important;
        justify-content: space-between;

    }

    .buttons-for-self {
        width: 90vw;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)) !important;
    }
}