:root{
      --orange:#ff7800;
      --black:#130f40;
      --light-color:#666;
      --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
      --border: .2rem solid rgba(0,0,0,.1);
      --outline: .2rem solid rgba(0,0,0,.1);
      --outline-hover: .2rem solid var(--black);




}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
     border: none;
     text-decoration: none;
     text-transform: capitalize;
     transition: all .2s linear;

}
html{
     overflow-x: hidden;
     scroll-behavior: smooth;
     scroll-padding-top: 7rem;

}
body{
      background: #eee;

     
}

.btn{
        margin-top: 1rem;
        display: inline-block;
        padding: 1px 3px;
        font-size: 1.7rem;
        border-radius: .5rem;
        border: .2rem solid var(--black);
        color: var(--black);
        cursor: pointer;




}
.btn:hover{
       background : var(--orange);
       color: #fff;

}

.product .product-slider {
        padding: 1rem ;
       
        
}
.product .product-slider :first-child{
      margin-bottom: 2rem;

      
}


.product .product-slider .box {
       background: #fff;
       border-radius: .5rem;
       text-align: center;
       padding: 3rem 2rem;
       outline-offset: -1rem;
       outline: var(--outline);
        box-shadow: var(--box-shadow);
        transition: -2s linear;

     
      
}
.product .product-slider .box:hover{
      outline-offset: 0rem;

      outline: var(--outline-hover);
}
.product .product-slider .box img{
        height: 20rem;

}
.product .product-slider .box h3{
  
         font-size: 2.5rem;
         color: var(--black);

}
.product .product-slider .box price{
      
       font-size: 2rem;
       color: var(--light-color);
       padding: 5rem 0;

      
}
.product .product-slider .box .star i{
      font-size: 1.7rem;
      color: var(--orange);
      padding: 5rem 0;
      
}



