/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*-----------------------------------*\
    # CSS Reset
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

/*-----------------------------------*\
    # Custom Variables
\*-----------------------------------*/

:root {
  /* Custome Colors */
  --gray: #64748b;
  --dark-gray: #334155;

  --bg-violet: #8b3dff;
  --bg-violet-dark: #7634d9;
}

.violet {
    font-size: 1rem;
    color: var(--bg-violet);
    font-weight: 500;
    transition: all .15s ease-in-out;
}

.gray {
    font-size: 1rem;
    color: var(--gray);
    font-weight: 600;
    transition: all .15s ease-in-out;
}

.gray:hover {
  color: #fff;
  background-color: #334155;
  border-radius: 6px;
}

/*-----------------------------------*\
    # Custom Classes
\*-----------------------------------*/

.btn-violet {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  background-color: #8b3dff;
  border: 1px solid #8b3dff;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 300ms ease;
  text-decoration: none;
}

.btn-violet:hover {
  background-color: #7634d9;
}

.btn-light {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 300ms ease;
  color: #64748b;
  background-color: #f1f5f9;
  border: 1px solid #f1f5f9;
  text-decoration: none;
}

.btn-light:hover {
  color: #334155;
  background-color: #cdd0d4;
}

/*-----------------------------------*\
    # Header
\*-----------------------------------*/

.header {
    /* border-bottom: 1px solid var(--gray); */
    z-index: 10;
    /* background-color: #020617; */
}

.cart i {
    cursor: pointer;
    font-size: 2rem;
}

.modal-body .row {
    height: 150px;
    width: auto;
}

.modal-member,
.modal-trainer {
    height: 100%;
    width: 100%;
    text-decoration: none;
    position: relative;
}

.modal-member img,
.modal-trainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.modal-member h4,
.modal-trainer h4 {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
}

.modal-member-title,
.modal-trainer-title {
    display: none;
    position: absolute;
    top: 38%;
    left: 24%;
}

.modal-member:hover,
.modal-trainer:hover {
    opacity: 0.8;
}

.modal-member:hover .modal-member-title,
.modal-trainer:hover .modal-trainer-title {
    display: block;
}

.modal-footer a {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #7634d9;
}

/* Footer */
.footer {
    /* background-color: #020617; */
    /* color: var(--gray); */
    border: 2px solid gray;
}

.footer-heading {
    color: #fff;
    text-decoration: none;
}

.footer-body a,
.footer-body i {
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
}

.footer-body a:hover,
.footer-body i:hover {
    color: var(--bg-violet);
}

.banner {
    height: 700px; /* Set a fixed height for the banner */
    width: 100%;
    overflow: hidden; /* Hide any content that overflows the banner */
}

.banner video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1000px) {
    .banner {
        height: 520px;
    }
}

@media screen and (max-width: 800px) {
    .banner {
        height: 420px;
    }
}

/* .navbar-toggler {
     border-color: #fff;
}

.navbar-toggler i {
    color: white !important;
} */
