@import url(./global.css);

/* icons */

.small-icons{
    width:26px;
    cursor: pointer;
}
.small-icons img{
    width:inherit;
}

.x-small-icons{
    width:16px;
}
.x-small-icons img{
    width:inherit;
}
.xl-icons{
    width:200px;
}
.xl-icons img{
    width:inherit;
}



/* banner */
#banner-section{
    position:relative;
    height: 280px;
    background-color: black;
    margin-bottom: 1rem;
}
#banner-section .image{
    width: inherit;
    height: inherit;
    object-fit:cover;
    overflow:hidden;
}
#banner-section .image img{
    object-fit: cover;
    width:inherit;
    height: inherit;
    opacity: 0.5;
    /* height: inherit; */
}

#banner-section #greet{
    color:white;
    position: absolute;
    top:50%;
    left:10%;
    transform: translateY(-50%);

}
#banner-section #greet h2{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}
#banner-section #greet p{
    font-size: 1.5rem;
}



/* workout profile*/

#workout-profile .content{
    display:flex;
    justify-content: space-between;
    /* height: 500px; */
}
#workout-profile .content .color-boxes .box{
    display: inline-block;
    width:100px;
    height:8px;
    border-radius: 8px;
    /* background-color: red; */
    border: 1px solid red;
}

.fill{
    background-color: red;
}

.today{
    background-color: lightgray;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding:0 5px;
    color:black;
}

#workout-profile .content .image{
    height:300px;
    width:400px;
    object-fit: cover;
    overflow: hidden;
    /* display: none; */
}


/*personal workout section*/

#personal-workout .content .image{
    height:400px;
}
#personal-workout .content .image img{
    height:inherit;
}
#personal-workout .content #workout-parts{
    font-size: 2rem;
}




/*main-section-1*/

#main-section-1 .content .image-group{
    position: relative;
    width:380px;
    height:180px;
    border-radius: 10px;
    background-color: black;
}
#main-section-1 .content .image-group img{
    width:inherit;
    height:inherit;
    border-radius: inherit;
    opacity:0.6;
}
#main-section-1 .content .image-group span{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    width:inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
}

/* main-section-3 */

#main-section-3 .content .data-box .image img{
 width: 280px;
}
#main-section-3 .content .data-box .image{
 width: 350px;
 object-fit: cover;
 object-position: center;
}
#main-section-3 .content .data-box .data{
 width: 920px;
 display: flex;
 justify-content: space-around;
}

#main-section-3 .content .data-box{
 width: 100% !important;
 display: flex;
}
#main-section-3 .content{
 display: flex;
 overflow-x: scroll;
}
#main-section-3 .content::-webkit-scrollbar{
    /* width:1rem; */
    height: 10px;
}
#main-section-3 .content::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 5px;
}
#main-section-3 .content::-webkit-scrollbar-track{
    background-color: white;
    border:1px grey solid;
    border-radius:5px;
}
#main-section-3 .content::-webkit-scrollbar-corner{
    color: red;
}


/* responsive */

@media (max-width:780px){
    #personal-workout{
        max-width: 100vw !important;
    }
    #personal-workout .content .image{
        height:300px;
    }
    #personal-workout .content .heading h5{
        font-size: 2rem;
        margin-bottom: 2rem !important;
    }
    #personal-workout .content #workout-parts{
        font-size: 1rem;
    }
    #main-section-1{
        max-width: 100vw !important;
    }
    
    #main-section-1 .content .image-group{
        width:278px;
        height:135px;
        margin-bottom: 1rem !important;
    }
    #main-section-3 .content .data-box .image img{
        width: 180px;
    }
    #main-section-3 .content .data-box .image{
        width: 280px;
    }
}

@media (max-width: 480px){
    #workout-profile .content .image{
        display: none;
    }

    #personal-workout .content .image{
        height: 200px !important;
    }
    #personal-workout .content .heading h5{
        font-size: 1.5rem !important;
        margin-bottom: 1rem !important;
    }
    #main-section-3 .content .data-box .image img{
        width: 80px;
    }
    #main-section-3 .content .data-box .image{
        width: 180px;
    }
}